#root .mainContainer{
    transform:translatex(576px) translatey(78px);
    width:24%;
    height:514px;
    border-width:2px !important;
    border-color:#2c3e50;
    border-top-width:6px;
    border-top-style:none !important;
    border-style:solid !important;
   }
   
   /* Button */
   #root .chatForm .btn-primary{
    transform:translatex(408px) translatey(-112px);
    min-height:35px;
    width:49px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
   }
   
   /* Input */
   .chatForm fieldset input[type=text]{
    height:17px;
    width:368px;
    box-shadow:0px 0px 3px 3px #495057;
    transform:translatex(4px) translatey(7px);
   }
   
   /* Form group */
   .chatForm fieldset .form-group{
    border-color:#0a0909;
    border-width:7px;
    margin-bottom:19px;
   }
   
   /* Heading */
   #root h2{
    color:#5ec3b9;
   }
   /* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Marvel:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Button */
.chatForm fieldset .btn-primary{
 transform:translatex(408px) translatey(-27px) !important;
}

/* Form group */
.chatForm fieldset .form-group{
 transform:translatex(0px) translatey(192px);
}

/* Division */
.messages .message div{
 font-family:'Marvel', sans-serif;
}

/* Heading */
#root h2{
 font-family:'Marvel', sans-serif;
 text-align:center;
 font-size:25px;
 font-weight:700;
 text-shadow:rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) -1px 0px 1px;
 word-spacing:0.5px;
 letter-spacing:1.5px;
 column-count:1;
 font-style:normal;
 line-height:15.6px;
}
.messages {
    border: 1px solid black;
}